/* Write your CSS code here */
.listItem {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  list-style-type: none;
}
.itemLink {
  text-decoration: none;
}

.image {
  height: 160px;
  width: 250px;
}
.avatarImage {
  height: 30px;
}
.topic {
  color: #8e8e8e;
  font-size: 16px;
  margin-top: 0px;
}
.title {
  color: #000;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.authorProfile {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 0px;
}

.avatarImage {
  border-radius: 100%;
}
.authorName {
  color: #8e8e8e;
  font-size: 18px;
}
